[submodule "RandomEngine/vendor/spdlog"]
	path = RandomEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "RandomEngine/vendor/glfw"]
	path = RandomEngine/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "RandomEngine/vendor/ImGui"]
	path = RandomEngine/vendor/ImGui
	url = https://github.com/ocornut/imgui
[submodule "RandomEngine/vendor/glm"]
	path = RandomEngine/vendor/glm
	url = https://github.com/g-truc/glm
