[submodule "RandomEngine/vendor/spdlog"]
	path = RandomEngine/vendor/spdlog
	url = https://github.com/RandomFeeders/spdlog
	branch = v1.x
[submodule "RandomEngine/vendor/GLFW"]
	path = RandomEngine/vendor/GLFW
	url = https://github.com/RandomFeeders/glfw
	branch = 3.3-stable
[submodule "RandomEngine/vendor/ImGui"]
	path = RandomEngine/vendor/ImGui
	url = https://github.com/RandomFeeders/imgui
	branch = docking
[submodule "RandomEngine/vendor/glm"]
	path = RandomEngine/vendor/glm
	url = https://github.com/RandomFeeders/glm
	branch = master
[submodule "RandomEngine/vendor/stb"]
	path = RandomEngine/vendor/stb
	url = https://github.com/RandomFeeders/stb
	branch = master
[submodule "RandomEngine/vendor/fmt"]
	path = RandomEngine/vendor/fmt
	url = https://github.com/RandomFeeders/fmt
	branch = master
